  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta content="noindex, nofollow" name="robots">
<nav class="navbar navbar-expand-lg ">

    <mat-toolbar class="head">
      <img src="logo.png" alt="Nature" class="responsive">
      <!-- <mat-icon>games</mat-icon> -->
      <!-- <span class="header">Welcome to one step Job Finder</span> -->
      <span class="spacer"></span>
 
    </mat-toolbar>
  </nav>

<form  #SkillsForm="ngForm" action="/action_page.php" style="border:1px solid #ccc">
  <div class="container">
    <h3>Skills Detail</h3>
    <hr>

    <div class="form-group" class="expand">
      <label class="form-label form-label-big col-sm-2" for="requiredText">IT Skills<em>*</em></label>
      <div class="col-sm-10">
        <input matInput class="form-control ng-untouched ng-pristine ng-invalid" name="iTSkills" placeholder="Enter your IT Skills"
          type="text" id="iTSkills" [(ngModel)]="skills.iTSkills">
      </div>
    </div>

    <div class="form-group" class="expand">
        <label class="form-label form-label-big col-sm-2" for="requiredText">Version</label>
        <div class="col-sm-10">
          <input matInput class="form-control ng-untouched ng-pristine ng-invalid" name="Version" placeholder="Enter Version for technology used"
            type="text" id="version" [(ngModel)]="skills.version">
        </div>
      </div>

    <div class="form-group" class="expand">
      <label class="form-label form-label-big col-sm-2" for="requiredText">Level</label>
      <div class="col-sm-10">
        <input class="form-control ng-untouched ng-pristine ng-valid" name="level" placeholder="Enter Level of technology you worked on"
          type="text" id="level" [(ngModel)]="skills.level">
      </div>
    </div>

    <div class="form-group" class="expand">
      <label class="form-label form-label-big col-sm-2" for="requiredText">Last Used</label>
      
      <div class="col-sm-10">
          <input matInput [matDatepicker]="picker" name="lastUsed" id="lastUsed" [(ngModel)]="skills.lastUsed" placeholder="Technology when last used ">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker startView="year" [startAt]="startDate"></mat-datepicker>
      <div class="validation-errors col-sm-10 col-sm-offset-2"></div>
      </div>
    </div>

    <div class="text-center">
      <!-- <input class="btn btn-form" type="button" value="Update">  -->
      <input class="btn btn-form" type="submit" value="Save" (click)="onSubmit(skills)">
    </div>
    <hr>

  </div>
</form>
<footer class="footer">

    <div layout="row" layout-align="center center" flex>
      <p>Matchzone Thinks</p>
    </div>
 
  </footer>