<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta content="noindex, nofollow" name="robots">
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<nav class="navbar navbar-expand-lg ">

  <mat-toolbar class="head">
    <img src="logo.png" alt="Nature" class="responsive">
    <!-- <mat-icon>games</mat-icon> -->
    <!-- <span class="header">Welcome to one step Job Finder</span> -->
    <span class="spacer"></span>
    <a routerLink="login"><button mat-raised-button>Login</button></a>
    <a routerLink="register"><button mat-raised-button>Register</button></a>
  </mat-toolbar>
</nav>

<body>
  <div class="matchzone">
    <h2><strong>MatchZone</strong></h2>
  </div>
  <mat-card class="mat-card">
    <input class="input" type="text" placeholder="Search for candidates">
  </mat-card>
</body>
<!-- <mat-toolbar class="footer" color="primary"></mat-toolbar> -->
<footer class="footer">

  <div layout="row" layout-align="center center" flex>
    <p>Matchzone Thinks</p>
  </div>

</footer>